---
import { GenericTabs } from '~/wc';

interface Article {
	id: string;
	slug: string;
	title: string;
	created_at: number;
}

const articles = await fetch(
	'https://ptrk-fm-worker.alexblokh.workers.dev/articles?sortByDate=descending',
);
const articlesJson = (await articles.json()) as Article[];
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<!-- <emoji type='unamused'></emoji> -->
		<GenericTabs selected='1' label='people'>
			<button slot='tab'>About</button>
			<button slot='tab'>Contact</button>

			<div slot='panel'>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
					do eiusmod tempor incididunt ut labore et dolore magna
					aliqua. Ut enim ad minim veniam, quis nostrud exercitation
					ullamco laboris nisi ut aliquip ex ea commodo consequat.
				</p>
			</div>

			<div slot='panel'>
				<p>
					Sed ut perspiciatis unde omnis iste natus error sit
					voluptatem accusantium doloremque laudantium, totam rem
					aperiam, eaque ipsa quae ab illo inventore veritatis et
					quasi architecto beatae vitae dicta sunt explicabo.
				</p>
			</div>
		</GenericTabs>
		<ul>
			{
				articlesJson.map((article) => (
					<li>
						<a href={`/articles/id/${article.id}`}>
							{article.title}
						</a>
					</li>
				))
			}
		</ul>
	</body>
</html>
